.container {
  display: flex;
}
.marve {
  size: 50%;
}
.eggy {
  size: 50%;
}
.people {
  /* height: 20vh;
  width: 50vw; */
}
.App {
  background-color: lightgray;
}
.container {
  background-color: wheat;
}
